.box {
    width: 95%;
    margin: 0.25rem auto;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.5;
}

br {
    display: block;
    content: "";
    margin: 10px 0;
}

table {
    border-collapse: collapse;
    font-size: 16pt;
    font-family: 'Times New Roman';
    table-layout: fixed;
    color: #000;
}

    table th {
        font-weight: normal;
        text-align: left;
    }

input.textbox {
    width: 70px;
    text-align: right;
}
